BASE_URL_ORIGINAL=https://sitio-original.com
BASE_URL_NUEVO=https://sitio-nuevo.com

##Pasos a realizar:
## 1. Cambiar el nombre del archivo .env.example a .env para que se tomen en cuenta las variables de entorno.
## 2. Cambiar el valor de las variables de entorno para que apunten a los sitios correctos.
